<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/v1">Home</a>
        <a href="/v1/create">Create Users</a>

    </div>
    <div class="w3-container">
        <!-- <%= JSON.stringify(users) %> -->
        <h2>List User</h2>

        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- <% for (let i=0; i < users.length; i++) { %>
                <tr>
                    <td>
                        <%= users[i].id %>
                    </td>
                    <td>
                        <%= users[i].email %>
                    </td>
                    <td>
                        <%= users[i].name %>
                    </td>
                    <td>
                        <%= users[i].city %>
                    </td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <% } %> -->
            <% users.forEach((user, index)=> { %>
                <tr>
                    <td>
                        <%= user.id %> - <%= index %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/v1/update/<%= user.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>
                <% }) %>

        </table>
    </div>

</body>

</html>